.card {
  position: relative;
  width: 360px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5vh 4vh;
  border: none;
}

.card .imgBx {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 15px;
}

.card .imgBx img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
}

.card .imgBx::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .imgBx::after {
  content: "";
  position: absolute;
  bottom: 68px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .content {
  position: relative;
  width: 100%;
  height: 150px;
  background: #344e41;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.card .content ul {
  color: #fff;
  font-size: 14px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 4px;
  overflow: auto;
}

.card .content p {
  font-size: 14px;
}

.card .content .price {
  position: absolute;
  top: -52%;
  height: 52%;
  width: 50%;
  background: #344e41;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top-right-radius: 25px;
}

.card .content .price a {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  margin: 15px;
  display: block;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #344e41;
  transition: 0.5s;
  border: 2px solid #344e41;
}

.card .content .price a:hover {
  color: #fff;
  background: #344e41;
  border: 2px solid #fff;
}

.card .content .price::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0#fff;
}

.card .content .price::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #344e41;
}

.diary-card-ul {
  display: flex;
  flex-direction: column;
}

.diary-card-ul .right-align {
  margin-left: auto;
}

.carousel .control-prev.control-arrow {
  height: 72%;
}

@media screen and (max-width: 768px) {
  .diary-card-ul {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
    align-items: initial;
    justify-content: initial;
    opacity: 1;
    z-index: auto;
  }
}

/* Diary Item */

.DD-slider {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.DD-slider .DD-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 2;
}

.DD-slider .DD-controls > div {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.DD-slider .DD-controls > .DD-up:active {
  transform: translateY(-10px);
}

.DD-slider .DD-controls > .DD-down:active {
  transform: translateY(10px);
}

.DD-slider .DD-controls > .DD-up {
  top: 0px;
  right: 0px;
  background: #fff;
  color: #111;
  border-radius: 0 5px 5px 0;
}

.DD-slider .DD-controls > .DD-down {
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#0cbaba, #380036);
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.DD-slider .DD-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.DD-slider .DD-wrapper .DD-left,
.DD-slider .DD-wrapper .DD-right {
  width: 50%;
  overflow: hidden;
}

.DD-slider .DD-wrapper .DD-left > div,
.DD-slider .DD-wrapper .DD-right > div {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.DD-slider .DD-wrapper .DD-left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 90px 0px 40px;
}

.DD-slider .DD-wrapper .DD-left > div h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(90deg, #0cbaba, #380036);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.DD-slider .DD-wrapper .DD-left > div p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 25px;
  color: #555;
  text-align: justify;
}

.DD-slider .DD-wrapper .DD-right > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Diary Update */

.imgPrevUpdate {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  gap: 15px;
}

.imgPrev {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.deleteImgPrev {
  width: 20px;
  height: 20px;
  background-color: #db0404;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}