.sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-check {
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 0 0 0 4px;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 5px; 
  }

  .btn-primary {
    color: #fff;
    background: #007bff;
  }