@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-between h3 {
  margin-right: 20px;
}

.profile-container {
  max-width: 850px;
  margin: 3rem auto 0;
  padding: 0 20px;
}

.centered-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.full-width {
  width: 100%;
}

.margin-top-2 {
  margin-top: 2rem;
}

.custom-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #2a2b38;
  background-clip: border-box;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #fff;
  padding: 1.25rem;
}

.user-list {
  color: #333;
}

.allUsers{
  margin-top: 12px;
  color: #fff;
}

.user-list .table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-list .table .search {
  width: 100%;
  max-width: 300px;
}

.user-list .table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
  background-color: #eee;
  margin: 0 auto;
}

.user-list .table table thead {
  border-top: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
}

.user-list .table table th {
  border: 1px solid #eee;
}

.user-list .table table th,
.user-list .table table td {
  vertical-align: top;
  text-align: center;
  padding: 8px;
}

.user-list .table table th.icons,
.user-list .table table td.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list .table table th.icons > *,
.user-list .table table td.icons > * {
  margin-right: 7px;
  cursor: pointer;
  vertical-align: middle;
  align-self: center;
}

.user-list .table table tr {
  border-bottom: 1px solid #ccc;
}

.user-list .table table tr:nth-child(even) {
  background-color: #fff;
}

.user-list .table table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort label {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 5px;
}

.sort select {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4px 8px;
  margin: 0 5px 0 0;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  font-weight: 300;
  color: #2553d3; 
}

.pagination .activePage {
  color: #fff;
  background-color: #2553d3; 
  border-radius: 5px; 
}



@media (max-width: 768px) {
  .user-list .table table {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .user-list .table table {
    font-size: 1rem;
  }
}


